<!DOCTYPE html>
<html>
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
        <script src="http://d/abc.js?v=2015-06-10T18:01:03+08:00"></script>
        <script src="http://d/eeeabc.js?v=2015-06-08T16:51:09+08:00"></script>
        <script src="http://d/abce.js?v=2015-06-08T16:51:09+08:00"></script>
        <link rel="stylesheet" href="http://a/style.css?v=2015-06-08T16:51:09+08:00" media="all">
        <link rel="stylesheet" href="http://a/style1.css?v=2015-06-08T16:51:09+08:00" media="all">
        
    </head>
    <body>
        <b>123</b>
        body
    </body>
</html>
